# SERVER
SERVER_PORT=5000

# DATABASE
MONGO_URI=mongodb://localhost:27017/your-db-name

# AUTH
JWT_SECRET=your-super-secret-key
JWT_REFRESH_SECRET=your-super-refresh-secret-key

# FRONTEND
APP_ORIGIN= fe. http://localhost:5173